@use "../abstract" as *;
@use "../function" as *;
/* - - - - - - - - footer- - - - - - - - -*/

.footer {
  background: var(--clr-primary-black);
  padding: var(--s-space-5);
  margin-top: var(--s-space-6);

  @include mq("lg") {
    padding: 0;
  }

  &__body {
    @include mq("lg") {
      @include grid-column-center(2, 1fr);
      padding: var(--s-space-5) var(--s-space-6);
    }

    @include mq("xl") {
      padding: var(--s-space-5) var(--s-space-7);
    }
    @include mq("2xl") {
      padding: var(--s-space-5) var(--s-space-8);
    }
  }

  &__left {
    @include mq(lg) {
      text-align: left;
    }
  }

  &__right {
    @include mq(lg) {
      text-align: right;
    }
  }

  &__title {
    padding-bottom: var(--s-space-3);
    text-align: center;
    display: inline-block;

    @include mq(lg) {
      width: to-rem(150);
      padding-bottom: 0;
    }
  }
  &__list {
    @include mq(lg) {
      display: flex;
    }
  }
  &__item {
    line-height: var(--l-leading-normal);

    @include mq(lg) {
      padding: 0;
      margin-right: var(--s-space-3);
    }
  }

  &__link {
    display: block;
    color: var(--clr-primary-white);
    padding: var(--s-space-3) 0;

    @include mq("lg") {
      padding: var(--s-space-3) 0 0 0;
    }
  }

  &__social {
    margin: var(--s-space-4);
    @include mq("lg") {
      margin: 0;
    }

    @include mq(lg) {
      margin-right: var(--s-space-0);
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;

      @include mq(lg) {
        justify-content: flex-end;
      }
    }
    &__item {
      padding: var(--s-space-3);
    }
  }
  &__copyright {
    font-weight: var(--fw-wgt-regular);
    font-size: to-rem(12px);
    color: var(--clr-primary-dark-gray);

    @include mq("lg") {
      font-size: to-rem(15px);
      padding-top: var(--s-space-3);
    }
  }
}
