@use "../abstract/" as *;
@use "../function" as *;

/* - - - - - - - - Header- - - - - - - - -*/

.header {
  @include bg-img-overlay("../images/mobile/image-hero.jpg");
  @include background-cover();
  min-height: 100vh;
  position: relative;

  @include mq("lg") {
    @include bg-img-overlay("../images/desktop/image-hero.jpg");
    @include background-cover();
    min-height: 0;
    height: to-rem(650px);
  }

  &__title {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-primary-white);
    width: calc(100vw - 4rem);

    @include fonts-props(35, var(--ff-fly-Jose), var(--fw-wgt-thin));
    outline: 2px solid var(--clr-primary-white);
    padding: var(--s-space-3);
    text-transform: uppercase;

    @include mq("sm") {
      font-size: to-rem(32);
      padding: var(--s-space-4);
      width: calc(100vw - 7.5rem);
    }
    @include mq("md") {
      font-size: to-rem(62);
      padding: var(--s-space-4);
      width: calc(100vw - 10.5rem);
    }

    @include mq("lg") {
      max-width: to-rem(500px);
      top: 60%;
      left: 0;
      transform: translate(0, -50%);
      margin-left: var(--s-space-6);
    }

    @include mq("xl") {
      max-width: to-rem(600px);
      margin-left: var(--s-space-7);
    }

    @include mq("2xl") {
      max-width: to-rem(647px);
      margin-left: var(--s-space-8);
      font-size: to-rem(72px);
    }
    @include mq("3xl") {
      max-width: to-rem(735px);
      padding: 2rem;
    }
  }
}
