@use "../abstract/" as *;
@use "../function" as *;

.header {
  background: url("../images/mobile/image-hero.jpg");
  @include background-cover();
  min-height: 100vh;
  position: relative;

  &__title {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-primary-white);
    width: calc(100vw - 4rem);

    @include fonts-props(35, var(--ff-fly-Jose), var(--fw-wgt-thin));
    outline: 2px solid var(--clr-primary-white);
    padding: var(--s-space-3);
    text-transform: uppercase;

    @include mq("sm") {
      font-size: to-rem(42);
      padding: var(--s-space-4);
    }
    @include mq("md") {
      font-size: to-rem(62);
      padding: var(--s-space-4);
      width: calc(100vw - 7rem);
    }
  }
}
