@use '../function/index' as *;
@use '../abstract/mixin' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: var(--s-space-4);

  &__logo {
    display: relative;
    z-index: 2;
    & img {
      width: to-rem(150);
    }
  }

  &__toggler {
    display: relative;
    z-index: 2;
  }

  & button {
    cursor: pointer;
    background: transparent;
    border: 0;

    &#open.active {
      display: none;
    }

    &#close {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  & .nav {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1;

    &.active {
      display: block;
    }

    &__list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: var(--clr-primary-black);
      min-height: 100vh;
    }

    &__item {
      padding: var(--s-space-3) var(--s-space-4);
    }

    &__link {
      @include fonts-props(24, var(--ff-fly-Alata), var(--fw-wgt-regular));
      color: var(--clr-primary-white);
      display: block;
    }
  }
}
