@use '../function/index' as *;
@use '../abstract' as *;
/* - - - - - - - - Navigation- - - - - - - - -*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2rem var(--s-space-4);

  @include mq("sm") {
    padding: var(--s-space-5) var(--s-space-5);
  }

  @include mq("md") {
    padding: var(--s-space-5) var(--s-space-6);
  }

  &__logo {
    z-index: 2;
    & img {
      width: to-rem(150);

      @include mq("md") {
        width: to-rem(192);
      }
    }
  }

  &__toggler {
    z-index: 2;

    @include mq("lg") {
      display: none;
    }
  }

  & button {
    cursor: pointer;
    background: transparent;
    border: 0;

    &#open.active {
      display: none;
    }

    &#close {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  & .nav {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1;

    @include mq("lg") {
      display: block;
      position: unset;
    }

    &.active {
      display: block;
    }

    &__list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: var(--clr-primary-black);
      min-height: 100vh;

      @include mq("lg") {
        flex-direction: row;
        justify-content: flex-end;
        min-height: 0;
        background: transparent;
      }
    }

    &__item {
      padding: var(--s-space-3) var(--s-space-4);
    }

    &__link {
      @include fonts-props(24, var(--ff-fly-Alata), var(--fw-wgt-regular));
      color: var(--clr-primary-white);
      display: block;

      @include mq("lg") {
        font-size: to-rem(15px);
      }
    }
  }
}
