@use '../abstract/' as *;
@use '../components/interactive';
@use '../components/creation';

main {
  margin: var(--s-space-4);

  @include mq("sm") {
    margin: var(--s-space-5);
  }
  //tablet
  @include mq("md") {
    margin: var(--s-space-6);
  }
  @include mq("xl") {
    margin: var(--s-space-7);
  }

  @include mq("2xl") {
    margin: var(--s-space-8);
  }
}
