@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Josefine Sans";
  src: url("../fonts/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
}

$regular: 400;
$thin: 300;
$alata: "'Alata', sans-serif";
$jose: "'Josefin Sans', sans-serif";

$leading-tight: 1.25;
$leading-normal: 1.5;
$leading-none: 1;
$leading-relaxed: 1.625;
$fonts: (
  "font": (
    property: "fly",
    class: "ff",
    values: (
      "Alata": $alata,
      "Jose": $jose,
    ),
  ),
  "weight": (
    property: "wgt",
    class: "fw",
    values: (
      regular: $regular,
      thin: $thin,
    ),
  ),
  "leading": (
    property: "leading",
    class: "l",
    values: (
      none: $leading-none,
      relaxed: $leading-relaxed,
      normal: $leading-normal,
      tight: $leading-tight,
    ),
  ),
);
