@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Josefine Sans";
  src: url("../fonts/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
}

$regular: 400;
$thin: 300;
$alata: "'Alata', sans-serif";
$jose: "'Josefin Sans', sans-serif";

$fonts: (
  "font": (
    property: family,
    class: "ff",
    values: (
      "Alata": $alata,
      "Jose": $jose,
    ),
  ),
  "weight": (
    property: "weight",
    class: "fw",
    values: (
      regular: $regular,
      thin: $thin,
    ),
  ),
);
