@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Josefine Sans";
  src: url("../fonts/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
}
:root {
  --clr-primary-white: white;
  --clr-primary-black: black;
  --clr-primary-dark-gray: #8c8c8c;
  --clr-primary-very-dark-gray: dimgray;
  --clr-accent-light: #7e0594;
  --ff-fly-Alata: 'Alata', sans-serif;
  --ff-fly-Jose: 'Josefin Sans', sans-serif;
  --fw-wgt-regular: 400;
  --fw-wgt-thin: 300;
  --l-leading-none: 1;
  --l-leading-relaxed: 1.625;
  --l-leading-normal: 1.5;
  --l-leading-tight: 1.25;
  --s-space-0: 0;
  --s-space-1: 0.25rem;
  --s-space-2: 0.5rem;
  --s-space-3: 1rem;
  --s-space-4: 1.5rem;
  --s-space-5: 3rem;
  --s-space-6: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Aalata", sans-serif;
  font-size: 15px;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--clr-accent-light);
}

.header {
  background: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}
.header__title {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-primary-white);
  width: calc(100vw - 4rem);
  font-size: 2.1875rem;
  font-family: var(--ff-fly-Jose);
  font-weight: var(--fw-wgt-thin);
  outline: 2px solid var(--clr-primary-white);
  padding: var(--s-space-3);
  text-transform: uppercase;
}
@media only screen and (min-width: 375px) {
  .header__title {
    font-size: 2.625rem;
    padding: var(--s-space-4);
  }
}
@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 3.875rem;
    padding: var(--s-space-4);
    width: calc(100vw - 7rem);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 2rem var(--s-space-4);
}
@media only screen and (min-width: 768px) {
  .navbar {
    padding: var(--s-space-5);
  }
}
.navbar__logo {
  display: relative;
  z-index: 2;
}
.navbar__logo img {
  width: 9.375rem;
}
@media only screen and (min-width: 768px) {
  .navbar__logo img {
    width: 12rem;
  }
}
.navbar__toggler {
  display: relative;
  z-index: 2;
}
.navbar button {
  cursor: pointer;
  background: transparent;
  border: 0;
}
.navbar button#open.active {
  display: none;
}
.navbar button#close {
  display: none;
}
.navbar button#close.active {
  display: block;
}
.navbar .nav {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 1;
}
.navbar .nav.active {
  display: block;
}
.navbar .nav__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--clr-primary-black);
  min-height: 100vh;
}
.navbar .nav__item {
  padding: var(--s-space-3) var(--s-space-4);
}
.navbar .nav__link {
  font-size: 1.5rem;
  font-family: var(--ff-fly-Alata);
  font-weight: var(--fw-wgt-regular);
  color: var(--clr-primary-white);
  display: block;
}

.interactive {
  margin: var(--s-space-5) 0;
}
.interactive__body {
  padding-top: var(--s-space-4);
}
.interactive__image {
  background-image: url("../images/mobile/image-interactive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 68.501529052%;
  height: 0;
  max-height: 448px;
  max-width: 654px;
}
.interactive__title {
  font-size: 1.875rem;
  font-family: var(--ff-fly-Jose);
  font-weight: var(--fw-wgt-thin);
  line-height: var(--l-leading-tight);
  margin-top: var(--s-space-4);
  margin-bottom: var(--s-space-4);
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .interactive__title {
    margin-top: var(--s-space-4);
  }
}
.interactive__text {
  font-size: 0.9375rem;
  font-family: var(--ff-fly-Alata);
  font-weight: var(--fw-wgt-regular);
  line-height: var(--l-leading-relaxed);
  color: var(--clr-primary-very-dark-gray);
}

.outline-black {
  font-size: 0.9375rem;
  font-family: var(--ff-fly-Alata);
  font-weight: var(--fw-wgt-regular);
  outline: 2px solid var(--clr-primary-dark-gray);
  color: var(--clr-primary-black);
  letter-spacing: var(--s-space-1);
  display: inline-block;
  cursor: pointer;
  padding: var(--s-space-2) var(--s-space-5);
  text-transform: uppercase;
}
.outline-black:hover {
  color: var(--clr-primary-white);
  background-color: var(--clr-primary-black);
  outline: 2px solid var(--clr-primary-black);
}

.creations {
  margin-top: var(--s-space-6);
  margin-bottom: var(--s-space-6);
}
.creations__title {
  font-size: 1.875rem;
  font-family: var(--ff-fly-Jose);
  font-weight: var(--fw-wgt-thin);
  line-height: var(--l-leading-tight);
  margin-top: var(--s-space-4);
  margin-bottom: var(--s-space-4);
  text-transform: uppercase;
}
.creations .gallery {
  margin-top: var(-s-space-5);
}
.creations .gallery__item-bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 36.6972477064%;
  height: 0;
  max-height: 240px;
  max-width: 654px;
  margin: var(--s-space-4) 0;
  position: relative;
}
.creations .gallery__item:first-child {
  background-image: url("../images/mobile/image-deep-earth.jpg"), linear-gradient(to bottom, transparent, rgba(3, 3, 3, 0.635));
  background-blend-mode: multiply;
}
.creations .gallery__item:nth-child(2) {
  background-image: url("../images/mobile/image-night-arcade.jpg"), linear-gradient(to bottom, transparent, rgba(3, 3, 3, 0.635));
  background-blend-mode: multiply;
}
.creations .gallery__item:nth-child(3) {
  background-image: url("../images/mobile/image-soccer-team.jpg"), linear-gradient(to bottom, transparent, rgba(3, 3, 3, 0.635));
  background-blend-mode: multiply;
}
.creations .gallery__item:nth-child(4) {
  background-image: url("../images/mobile/image-grid.jpg"), linear-gradient(to bottom, transparent, rgba(3, 3, 3, 0.635));
  background-blend-mode: multiply;
}
.creations .gallery__item:nth-child(4) > span {
  max-width: 2rem;
}
.creations .gallery__item:nth-child(5) {
  background-image: url("../images/mobile/image-from-above.jpg"), linear-gradient(to bottom, transparent, rgba(3, 3, 3, 0.635));
  background-blend-mode: multiply;
}
.creations .gallery__item:nth-child(6) {
  background-image: url("../images/mobile/image-pocket-borealis.jpg"), linear-gradient(to bottom, transparent, rgba(3, 3, 3, 0.635));
  background-blend-mode: multiply;
}
.creations .gallery__item:nth-child(7) {
  background-image: url("../images/mobile/image-curiosity.jpg"), linear-gradient(to bottom, transparent, rgba(3, 3, 3, 0.635));
  background-blend-mode: multiply;
}
.creations .gallery__item:last-child {
  background-image: url("../images/mobile/image-fisheye.jpg"), linear-gradient(to bottom, transparent, rgba(3, 3, 3, 0.635));
  background-blend-mode: multiply;
}
.creations .gallery__link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: left;
}
.creations .gallery__caption {
  font-size: 1.125rem;
  font-family: var(--ff-fly-Jose);
  font-weight: var(--fw-wgt-thin);
  position: absolute;
  text-transform: uppercase;
  padding: var(--s-space-3);
  max-width: 8rem;
  bottom: 0;
  color: var(--clr-primary-white);
}

main {
  margin: var(--s-space-4);
}
@media only screen and (min-width: 768px) {
  main {
    margin: var(--s-space-5);
  }
}

.footer {
  background: var(--clr-primary-black);
  padding: var(--s-space-5);
  margin-top: var(--s-space-6);
}
.footer__title {
  padding-bottom: var(--s-space-3);
  text-align: center;
  display: inline-block;
}
.footer__item {
  line-height: var(--l-leading-normal);
}
.footer__link {
  display: block;
  color: var(--clr-primary-white);
  padding: var(--s-space-3) 0;
}
.footer__social {
  margin: var(--s-space-4);
}
.footer__social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social__item {
  padding: var(--s-space-2);
}
.footer__copyright {
  font-size: to-rem(12);
  color: var(--clr-primary-dark-gray);
}

/*# sourceMappingURL=main.css.map */
